@font-face {
  font-family: 'Maginia';
  src: url('/maginia-font/MaginiaRegular-BWP6x.ttf');
  font-weight: 700;
  font-style: normal;
  }

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Maginia', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@import '/styles/swiper.css';